@{
    @model CadastroModel
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internet Banking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @{
            if (Model != null)
            {
                <partial name="~/Views/Shared/Header/_HeaderClient.cshtml" />
            }
            else
            {
                <partial name="~/Views/Shared/Header/_Header.cshtml" />
            }
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        @{
            if (Model != null)
            {
                <partial name="~/Views/Shared/Footer/_FooterClient.cshtml" />
            }
            else
            {
                <partial name="~/Views/Shared/Footer/_Footer.cshtml" />
            }
        }
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
