
@{
    ViewData["Title"] = "Cadastro de Cliente";
    @model CadastroModel
}

<style type="text/css">
    .btn-custom-submit {
        color: white;
        background-color: rgb(219, 187, 129);
        border-color: rgb(219, 187, 129);
    }
</style>

<div class="container">

    <div class="text-center">
        <h3>Você está a um passo de criar sua conta Training Banking</h3>
    </div>
    <br />
    <form asp-controller="Home" asp-action="AbriConta" method="post">
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Nome" asp-for="Name" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="text" class="form-control cpf" placeholder="CPF" asp-for="Cpf" required>
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="email" class="form-control" placeholder="E-mail" asp-for="Email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="tel" class="form-control sp_celphones" placeholder="Telefone" asp-for="PhoneNumber" required>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Endereço" asp-for="Address" required>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-custom-submit">Cadastrar</button>
        </div>
    </form>
</div>

