
@{
    ViewData["Title"] = "Home";
}

<style type="text/css">
    .btn-template {
        color: white;
        background-color: rgb(219, 187, 129);
        border-color: rgb(219, 187, 129);
    }

    .container-custom-margin {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>

<div class="container container-custom-margin">

    <partial name="~/Views/Auth/Message/_AlertAccessDanied.cshtml" />

</div>